<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Favor escolhar uma opção</title>
<link href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<div class="container-fluid">
		<div ng-include = "'js/include/menu.html'"></div>
		<div class="row">
			<div class="col-md-10">
				<h1>Favor escolher a opção</h1>

				<a class="btn btn-primary" href="saque.html" role="button">Realizar
					Saques</a> <a class="btn btn-primary" href="cadastros.html"
					role="button">Cadastro de Clientes</a>
			</div>
		</div>
	</div>
</body>
</html>